html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

::-webkit-scrollbar {
  display: none;
}

/*Code modified from https://bootsnipp.com/snippets/DOXy4*/
.files input {
  outline: 2px dashed #9ba7e8;
  outline-offset: -10px;
  padding: 120px 0px 100px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #7e8ddf;
  outline-offset: -10px;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #7e8ddf;
}
.files {
  position: relative;
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #f1f1f1;
}
.files:before {
  position: absolute;
  bottom: 2px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #6173db;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.btn-upload {
  width: 100%;
  color: white;
  background-color: #6173db;
  border-color: #4e5eb8;
}
.btn-upload:hover,
.btn-upload:active:focus,
.btn-upload:focus,
.btn-upload:active,
.btn-upload.active,
.open > .dropdown-toggle.btn-upload {
  color: #fff;
  background-color: #7e8ddf !important;
  border-color: #6876c0 !important;
}

.btn-upload:focus,
.btn-upload:not(:disabled):not(.disabled).active:focus,
.btn-upload:not(:disabled):not(.disabled):active:focus,
.show > .btn-upload.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(126, 141, 223, 0.5);
}
